<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>EMail</th>
            <th>Mobile</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>EMail</th>
            <th>Mobile</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          {{#each data}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.contact}}</td>
            <td>
              <a href="#edit" class="btn btn-primary btn-icon-split" data-toggle="modal" data-user-id="{{this.id}}" data-target="#myModal">
                <span class="icon text-white-50">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="text">EDIT</span>
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form method="post" action="/admin/editUser">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="editname" type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input id="editemail" type="email" class="form-control" placeholder="E-Mail" name="email">
                </div>
                <div class="form-group">
                    <label for="contact">Mobile</label>
                    <input id="editcontact" type="number" class="form-control" placeholder="Mobile" name="contact">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="editaddress" type="text" class="form-control" placeholder="Address" name="address">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
